[defaults]
inventory = /vagrant_data/hosts
remote_user = vagrant
host_key_checking = False
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
